<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

    <main layout:fragment="main">
        <style>
            .icon {
                display: inline-block;
                vertical-align: middle;
            }
        </style>
        <div class="lg:space-x-12">

            <div class="lg:w-full card">

                <div class="p-10 pt-4 divide-y divide-gray-100">

                    <div class="md:py-8 py-3">
                        <h2 class="text-xl font-bold">어떤 상품을 입고하시나요?</h2>
                    </div>

                    <div class="md:py-8 py-3">
                        <form onsubmit="return false" id="dataForm">

                            <div class="relative overflow-x-auto shadow-md">
                                <table class="w-full text-sm text-left text-gray-500">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                                        <tr>
                                            <th scope="col" class="px-6 py-3">
                                                구분
                                            </th>
                                            <th scope="col" class="px-2 py-3"
                                                th:each="sort : ${T(com.ezkorea.hybrid_app.domain.wiper.WiperSize).values()}"
                                                th:text="${sort.getName()}">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="bg-white border-b"
                                        th:each="sort : ${T(com.ezkorea.hybrid_app.domain.wiper.WiperSort).values()}">
                                        <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap" th:text="${sort.getViewName()}"></th>
                                        <td class="px-2 py-4" th:with="item=1"
                                            th:each="size : ${T(com.ezkorea.hybrid_app.domain.wiper.WiperSize).values()}">
                                            <th:block th:if="${!sort.getName().equals('size_700') && !size.getName().equals('700')}">
                                                <input type="text" th:name="${(sortStat.index) * 8 + (sizeStat.count)}"/>
                                            </th:block>
                                            <th:block th:if="${sort.getName().equals('size_700') && size.getName().equals('700')}">
                                                <input type="text" th:name="33"/>
                                            </th:block>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <hr class="mt-4">
                            <button type="submit" id="submit" class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 등록하기 </button>
                        </form>
                    </div>


                </div>

            </div>

        </div>

    </main>

</body>

</html>