<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

    <main layout:fragment="main">
        <style>
            .icon {
                display: inline-block;
                vertical-align: middle;
            }
            input[type=text]{
                width: 4.5em;
            }
            .rightBt{
                width: 4.5em;
                margin-left: auto;
                color: #FFFFFF;
            }
        </style>
        <div class="lg:space-x-12">

            <div class="lg:w-full card">

                <div class="p-10 pt-4">
                    <input type="hidden" id="id" th:value="${id}">
                    <div class="md:py-8 py-3 flex">
                        <h2 class="text-xl font-bold">입고 등록</h2>
                        <button type="button" th:if="${id != null}" th:onclick="deleteInputTable()" class="rightBt items-center bg-red-600 justify-center h-9 px-4 rounded-md border font-semibold"> 삭제 </button>
                    </div>

                    <hr class="my-4">

                    <div class="md:py-0 py-0">
                        <div>
                            <h1 class="block text-lg font-bold mb-2"> 주유소 선택  </h1>
                            <div>
                                <select id="gasStation" name="gasStation" class="border border-gray-300 text-sm rounded-lg block w-full p-2.5">
                                    <option th:each="station : ${stations}" th:text="|${station.getStationName()}(${station.getStationLocation()})|" th:value="${station.getStationName()}" th:data-id="${station.getId()}"></option>
                                </select>
                            </div>
                            <div class="my-4">
                                <h1 class="block text-lg font-bold my-2"> 메모 입력 </h1>
                                <input type="input" id="memo" class="pl-4" placeholder="메모사항을 입력해주세요">
                            </div>
                        </div>
                    </div>

                    <div class="md:py-3 py-3">
                        <h1 class="block text-lg font-bold mb-2"> 입고등록  </h1>
                        <form onsubmit="return false" id="dataForm">

                            <div class="relative overflow-x-auto shadow-md">
                                <table class="w-full text-sm text-left whitespace-nowrap">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                                        <tr>
                                            <th scope="col" class="px-6 py-3">
                                                구분
                                            </th>
                                            <th scope="col" class="px-2 py-3 uk-text-center"
                                                th:each="sort : ${T(com.ezkorea.hybrid_app.domain.wiper.WiperSize).values()}"
                                                th:text="${sort.getName()}">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="bg-white border-b"
                                        th:each="sort : ${T(com.ezkorea.hybrid_app.domain.wiper.WiperSort).values()}">
                                        <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap" th:text="${sort.getViewName()}"></th>
                                        <td class="px-2 py-4" th:with="item=1"
                                            th:each="size : ${T(com.ezkorea.hybrid_app.domain.wiper.WiperSize).values()}">
                                            <th:block th:if="${!sort.getName().equals('size_700') && !size.getName().equals('700')}">
                                                <input type="text" th:name="${(sortStat.index) * 7 + (sizeStat.count)}"/>
                                            </th:block>
                                            <th:block th:if="${sort.getName().equals('size_700') && size.getName().equals('700')}">
                                                <input type="text" th:name="29"/>
                                            </th:block>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <hr class="mt-4">
                            <button type="submit" id="submit" class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 등록하기 </button>
                            <a th:href="|javascript:window.history.back();|" class="bg-yellow-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded"> 뒤로가기 </a>
                        </form>
                    </div>


                </div>

            </div>

        </div>
        <script>

            $(document).ready(function(){

                let id = $("#id").val();

                if(id && id > 0) {
                    fnFindInputProduct(id);
                }

                // 입고등록
                $("#submit").on("click", function() {
                    Swal.fire({
                        html: '입고 등록하시겠습니까?',
                        showDenyButton: true,
                        confirmButtonText: '등록',
                        denyButtonText: `취소`,
                    }).then((result) => {
                        if(result.isConfirmed) {
                            fnSaveInputProduct(id);
                        }
                    })
                });

                // 범위지정 (1~100)
                $("#dataForm input").on("keyup", function() {
                    checkNumber($(this), 1, 1000);
                });
            });

            // 입고등록
            function fnSaveInputProduct(_id) {
                const url = "/sales/saveIn";
                const saleDtoList = [];
                const form = $('#dataForm').serializeArray();
                const fnload = function() {location.href= "/sales/input/index"}
                form.forEach(function(item) {
                    saleDtoList.push({
                        "wiper" : item.name,
                        "count" : item.value
                    })
                })
                const data = {
                                "id"           : _id,
                                "stationId"    : $("#gasStation option:selected").data("id"),
                                "memo"         : $("#memo").val(),
                                "saleDtoList"  : saleDtoList
                             }

                fnCrudJsonAjax(data, url, fnload, "post", "정상적으로 저장되었습니다.")
            }

            // 입고조회
            function fnFindInputProduct(id) {
                const url = "/sales/input/list";
                const data = {
                    "tTid" : id
                };

                fnFindJsonAjax(data, url, fnFindInputProductResult);
            }

            // 입고조회결과
            function fnFindInputProductResult(data) {
                const $form = $("#dataForm");
                $("#dataForm input").val("");
                $("#gasStation option[data-id='" + data.id + "']").prop('selected', true);
                $("#memo").val(data.memo);

                data.list.forEach(function(item) {
                    $form.find("input[name=" + item.wiper + "]").val(item.count);
                })
            }

            // 입고삭제
            function deleteInputTable() {
                Swal.fire({
                    html: '삭제하시겠습니까?',
                    showDenyButton: true,
                    confirmButtonText: '등록',
                    denyButtonText: `취소`,
                }).then((result) => {
                    if(result.isConfirmed) {
                        const url = "/sales/input/delete";
                        const fnload = function() {location.href= "/sales/input/index"}
                        const data = {"id" : $("#id").val()};

                        fnCrudJsonAjax(data, url, fnload, "post", "삭제되었습니다")
                    }
                })
            }

        </script>
    </main>
</body>

</html>