<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

    <main layout:fragment="main">
        <style>
            .icon {
                display: inline-block;
                vertical-align: middle;
            }
            .payment-label {
                background-color: #f2f2f2;
                padding: 10px;
                border-radius: 10px;
                margin: 20px;
            }
            input[type=radio] {
                display:none;
            }
            input[type=radio]:checked + label {
                background: #2563EB;
                color: #fff;
            }
            input[type=radio] + label {
                background: #cccccc;
                color: #FFFFFF;
            }
            #check div a{
                color: #FFFFFF;
            }
        </style>
        <div class="lg:space-x-12">

            <div class="lg:w-full">

                <input type="hidden" id="tTid" th:value="${tTid}">

                <div class="card py-4 px-5 mb-4">
                    <h2 class="text-lg font-bold">어떤 상품을 판매하셨나요?</h2>

                    <div class="grid grid-cols-2 gap-4" id="check">
                        <div name="out" class="text-sm font-medium">
                            <a class="bg-gray-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded-lg"> 판매 </a>
                        </div>
                        <div name="fix" class="text-sm font-medium">
                            <a class="bg-gray-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded-lg"> 불량 </a>
                        </div>
                    </div>
                </div>

                <div name="sellStat">
                    <div class="card py-4 px-5 mb-4">
                        <h1 class="block text-md font-bold mb-2"> 결제 수단 </h1>
                        <div class="payment-option">
                            <div class="grid grid-cols-2 gap-4 text-center">
                                <div>
                                    <input type="radio" name="payment" value="card" id="card" checked>
                                    <label for="card" class="payment-label w-1/2">카드</label>
                                </div>
                                <div>
                                    <input type="radio" name="payment" value="cash" id="cash">
                                    <label for="cash" class="payment-label w-1/2">현금</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card py-4 px-5 mb-4">
                        <div class="mb-4" id="sortDIv">
                            <h1 class="block text-md font-bold mb-2"> 와이퍼 종류 </h1>
                            <div class="flex items-center space-x-4 rounded-md -mx-2 p-2">
                                <button type="button" th:each="sort : ${T(com.ezkorea.hybrid_app.domain.wiper.WiperSort).values()}"
                                        th:value="${sort.getName()}" th:text="|${sort.getInit()}|" class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded-lg hover:text-white"></button>

                            </div>
                        </div>
                    </div>

                    <div class="card py-4 px-5 mb-4">
                        <h1 class="block text-md font-bold"> 판매 리스트 </h1>
                        <div class="relative overflow-x-auto">
                            <form onsubmit="return false" id="dataForm">
                                <table class="w-full text-sm text-left whitespace-nowrap text-center">
                                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                                        <tr>
                                            <th scope="col" class="px-2 py-3">결제 수단</th>
                                            <th scope="col" class="px-2 py-3">종류</th>
                                            <th scope="col" class="px-2 py-3">쩜오</th>
                                            <th scope="col" class="px-2 py-3">비고</th>
                                        </tr>
                                    </thead>
                                    <tbody id="sellList" class="uk-text-center">
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>

                <div name="fixStat">
                    <div class="card py-4 px-5 mb-4">
                        <h1 class="block text-md font-bold mb-2"> 와이퍼 종류 </h1>
                        <select id="wiperSort" name="wiperSort" class="shadow-none with-border px-2">
                            <option th:each="sort : ${T(com.ezkorea.hybrid_app.domain.wiper.WiperSort).values()}"
                                    th:value="${sort.getName()}" th:text="|${sort.getViewName()}|"></option>
                        </select>
                    </div>
                    <div class="card py-4 px-5 mb-4">
                        <h1 class="block text-md font-bold mb-2"> 메모 입력 </h1>
                        <input type="input" id="memo" class="px-2 border" placeholder="메모사항을 입력해주세요">
                    </div>
                </div>

                <hr class="mt-8 mb-4">

                <button type="submit" id="submit" class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded-lg hover:text-white"> 등록하기 </button>
                <a th:href="|javascript:window.history.back();|" class="bg-yellow-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded-lg"> 뒤로가기 </a>

            </div>

        </div>
        <script>
            let status;

            $(document).ready(function(){
                // 상단바
                $("#check div").on("click", function() {
                    let _status = $(this).attr("name");

                    $("#check div").each(function() {
                        if($(this).attr("name") == _status) {
                            $(this).find("a").removeClass("bg-gray-600")
                                .addClass("bg-blue-600");
                        } else {
                            $(this).find("a").removeClass("bg-blue-600")
                                .addClass("bg-gray-600");
                        }
                    });

                    if(_status === "out") {
                        $("[name='sellStat']").show();
                        $("[name='fixStat']").hide();
                    } else {
                        $("[name='sellStat']").hide();
                        $("[name='fixStat']").show();
                    }

                    status = _status;
                });

                status = "out";
                $("[name='out']").click();
            });

            // 결제수단
            $("[name='payment']").on("change", function() {
                $(this).prop("checked", true);
            });

            // 판매 리스트
            $("#sortDIv button").on("click", function() {
                $("#sellList").append(
                    $("<tr>", {class:"border-b"}).append(
                        $("<td>", {class:"px-2 py-4", text:$("[name='payment']:checked + label").text()}),
                        $("<td>", {class:"px-2 py-4", text:$(this).text()}),
                        $("<input>", {type:"checkbox", class:"text-blue-600 rounded-md border"}).on("change", function() {
                            if($(this).is(':checked')) {
                                $(this).parents("tr").find("[name='count']").val(1);
                            } else {
                                $(this).parents("tr").find("[name='count']").val(2);
                            }

                        }),
                        $("<td>").append(
                            $("<button>", {text:"취소", class:"bg-blue-600 text-white py-2 text-center font-semibold w-full  block rounded hover:text-white"}).on("click", function() {
                                $(this).parents("tr").remove();
                            })
                        ),
                        $("<input>", {type:"hidden", name:"payment", value:$("[name='payment']:checked").val()}),
                        $("<input>", {type:"hidden", name:"sort", value:$(this).val()}),
                        $("<input>", {type:"hidden", name:"count", value:2}),
                    )
                );
            });

            // 판매 등록
            $("#submit").on("click", function () {
                if(status === "out") {
                    if($("#sellList tr").length === 0) return;

                    let list = [];
                    $("#sellList tr").each(function() {
                        let sort = $(this).find("[name='sort']").val();
                        let payment = $(this).find("[name='payment']").val();
                        let count = Number($(this).find("[name='count']").val());
                        let result = list.find(obj => (obj.sort === sort && obj.payment === payment));

                        if(result) {
                            result.count = Number(result.count) + count;
                        } else {
                            let data = {
                                payment   : $(this).find("[name='payment']").val(),
                                sort : sort,
                                status : "out",
                                count : count
                            }
                            list.push(data);
                        }
                    });

                    fnSave(list);
                } else {
                    let list = [{
                        sort : $("#wiperSort").val(),
                        status : "fix",
                        count : 1,
                        memo : $("#memo").val()
                    }];

                    fnSave(list);
                }
            });

            function fnSave(list) {
                const url = "/sales/sell";
                const fnload = function() {location.href= "/sales/index/" + $("#tTid").val();}
                const data = {
                                "id" : $("#tTid").val(),
                                "sellDtoList" : list
                }

                fnCrudJsonAjax(data, url, fnload, "post", "정상적으로 저장되었습니다.");
            }
        </script>
    </main>

</body>

</html>