<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

    <main layout:fragment="main">
        <style>
            .icon {
                display: inline-block;
                vertical-align: middle;
            }
            .payment-label {
                background-color: #f2f2f2;
                padding: 10px;
                border-radius: 10px;
                margin: 20px;
            }
            input[type=radio] {
                display:none;
            }
            input[type=radio]:checked + label {
                background: #2563EB;
                color: #fff;
            }
            input[type=radio] + label {
                background: #cccccc;
                color: #FFFFFF;
            }
        </style>
        <div class="lg:space-x-12">

            <div class="lg:w-full card">

                <div class="p-10 pt-4 divide-y divide-gray-100">
                    <input type="hidden" id="stationId" th:value="${stationId}">
                    <div class="md:py-8 py-3">
                        <h2 class="text-xl font-bold">어떤 상품을 판매하셨나요?</h2>
                    </div>

                    <div class="md:py-8 py-3">

                            <h1 class="block text-md font-bold mb-2"> 결제 수단 </h1>
                            <div class="payment-option flex">
                                <input type="radio" name="payment" value="card" id="card" checked>
                                <label for="card" class="payment-label">카드</label>

                                <input type="radio" name="payment" value="cash" id="cash">
                                <label for="cash" class="payment-label">현금</label>
                            </div>
                            <h1 class="block text-md font-bold mb-2"> 와이퍼 종류 </h1>
                            <div>
                                <select id="wiperSort" name="wiperSort" class="shadow-none with-border px-2">
                                    <option th:each="sort : ${T(com.ezkorea.hybrid_app.domain.wiper.WiperSort).values()}"
                                            th:value="${sort.getName()}" th:text="|${sort.getViewName()} / ${#numbers.formatInteger(sort.getPrice(), 3, 'COMMA')}원|"></option>
                                </select>
                            </div>
                            <h1 class="block text-md font-bold my-2"> 와이퍼 사이즈 </h1>
                            <div id="sizeDIv">
                                <div id="divDefault">
                                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2">
                                        <button type="button" value="300" class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 300 </button>
                                        <button type="button" value="400" class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 400 </button>
                                        <button type="button" value="500" class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 500 </button>
                                        <button type="button" value="600" class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 600 </button>
                                    </div>
                                    <div class="flex items-center space-x-4 rounded-md -mx-2 p-2">
                                        <button type="button" value="350" class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 350 </button>
                                        <button type="button" value="450" class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 450 </button>
                                        <button type="button" value="550" class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 550 </button>
                                        <button type="button" value="650" class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 650 </button>
                                    </div>
                                </div>
                                <div id="div700">
                                    <button type="button" value="700" class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 700 </button>
                                </div>
                            </div>
                            <h1 class="block text-md font-bold my-2"> 판매 리스트 </h1>
                            <div class="relative overflow-x-auto">
                                <form onsubmit="return false" id="dataForm">
                                    <table class="w-full text-sm text-left">
                                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                                        <tr>
                                            <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">결제 수단</th>
                                            <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">종류</th>
                                            <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">사이즈</th>
                                            <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">상태</th>
                                            <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">비고</th>
                                        </tr>
                                        </thead>
                                        <tbody id="sellList" class="uk-text-center">
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                            <div class="flex items-center mt-2 align-middle">
                                <input type="checkbox" id="wiperStatus" name="wiperStatus" class="mr-2 w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                <label for="wiperStatus" class="m-0 p-0 text-md font-medium">고장처리</label>
                            </div>
                            <hr class="mt-2">
                            <button type="submit" id="submit" class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 등록하기 </button>
                            <a th:href="@{|/sales/index/${stationId}|}" class="bg-yellow-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded"> 뒤로가기 </a>

                    </div>


                </div>

            </div>

        </div>
        <script>
            // 결제수단
            $("[name='payment']").on("change", function() {
                $(this).prop("checked", true);
            });

            // 판매 리스트
            $("#sizeDIv button").on("click", function() {
                $("#sellList").append(
                    $("<tr>", {class:"bg-white border-b dark:bg-gray-900 dark:border-gray-700"}).append(
                        $("<td>", {class:"px-2 py-4 whitespace-nowrap", text:$("[name='payment']:checked + label").text()}),
                        $("<td>", {class:"px-2 py-4 whitespace-nowrap", text:$('#wiperSort option:selected').text().replace(/\/.*/, '')}),
                        $("<td>", {class:"px-2 py-4 whitespace-nowrap", text:$(this).val()}),
                        $("<td>", {class:"px-2 py-4 whitespace-nowrap", text:$('#wiperStatus').is(":checked") ? '고장' : '판매'}),
                        $("<td>").append(
                            $("<button>", {text:"취소", class:"bg-blue-600 text-white py-2.5 text-center font-semibold w-full  block rounded hover:text-white"}).on("click", function() {
                                $(this).parents("tr").remove();
                            })
                        ),
                        $("<input>", {type:"hidden", name:"payment", value:$("[name='payment']:checked").val()}),
                        $("<input>", {type:"hidden", name:"wiperSort", value:$("#wiperSort").val()}),
                        $("<input>", {type:"hidden", name:"wiperSize", value:$(this).val()}),
                        $("<input>", {type:"hidden", name:"status", value:$('#wiperStatus').is(":checked") ? 'fix' : 'out'})
                    )
                );
            });

            // 종류별 사이즈 버튼 바인딩
            $("select[name=wiperSort]").change(function(){
                let currentData = $(this).val();
                if (currentData === "size_700") {
                    $("#divDefault").hide();
                    $("#div700").show();
                } else {
                    $("#divDefault").show();
                    $("#div700").hide();
                }
            }).change();

            // 판매 등록
            $("#submit").on("click", function (){
                if($("#sellList tr").length === 0) return;

                let list = [];
                $("#sellList tr").each(function() {
                    let data = {
                        payment   : $(this).find("[name='payment']").val(),
                        wiperSort : $(this).find("[name='wiperSort']").val(),
                        wiperSize : $(this).find("[name='wiperSize']").val(),
                        status    : $(this).find("[name='status']").val()
                    }
                    list.push(data);
                });

                fnSave(list);
            });

            function fnSave(list) {
                const url = "/sales/sell";
                const fnload = function() {location.href= "/sales/index/" + $("#stationId").val();}
                const data = {
                                "stationId" : $("#stationId").val(),
                                "wiperDtoList" : list
                }

                fnCrudJsonAjax(data, url, fnload, "post", "정상적으로 저장되었습니다.");
            }
        </script>
    </main>

</body>

</html>