<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

<main layout:fragment="main">
    <style>
        #check div a{
            color: #FFFFFF;
        }
        td {
            text-align: center;
        }
        th {
            text-align: center;
        }
    </style>
    <div>
        <input type="text" id="datepicker" name="datepicker" class="w-full" readonly>
        <div class="grid grid-cols-3 gap-4 my-4" id="check">
            <div name="day" class="">
                <a class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 일간 </a>
            </div>
            <div name="week" class="">
                <a class="bg-gray-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 주간 </a>
            </div>
            <div name="month" class="">
                <a class="bg-gray-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 월간 </a>
            </div>
        </div>
        <div class="relative overflow-x-auto" id="totalStat">
            <h1 class="block text-lg font-bold mb-2"> 전체금액  </h1>
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3 text-center">
                        결제
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        금액
                    </th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
            <br>

            <h1 class="block text-lg font-bold mb-2"> 별도금액  </h1>
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">종류</th>
                        <th scope="col" class="px-6 py-3">갯수</th>
                        <th scope="col" class="px-6 py-3">금액</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="normal" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">일반</th>
                        <td class="px-6 py-4">0</td>
                        <td class="px-6 py-4">0</td>
                    </tr>
                    <tr id="hybrid" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">하이브리드</th>
                        <td class="px-6 py-4">0</td>
                        <td class="px-6 py-4">0</td>
                    </tr>
                    <tr id="mw" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">엠떠블유(MW)</th>
                        <td class="px-6 py-4">0</td>
                        <td class="px-6 py-4">0</td>
                    </tr>
                    <tr id="s_class" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">S클래스</th>
                        <td class="px-6 py-4">0</td>
                        <td class="px-6 py-4">0</td>
                    </tr>
                    <tr id="size_700" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">칠백사이즈</th>
                        <td class="px-6 py-4">0</td>
                        <td class="px-6 py-4">0</td>
                    </tr>
                    <tr id="total" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">합계</th>
                        <td class="px-6 py-4">0</td>
                        <td class="px-6 py-4">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        let _status;
        $(document).ready(function(){
            //달력생성
            fnCalenderMaker($('#datepicker'));

            // 일자별 금액조회
            $('#datepicker').on("change", function() {
                fnFindStat(_status);
            })

            $("#check div").on("click", function() {
                let status = $(this).attr("name");

                // 상단바
                $("#check div").each(function() {
                    if($(this).attr("name") == status) {
                        $(this).find("a").removeClass("bg-gray-600")
                            .addClass("bg-blue-600");
                    } else {
                        $(this).find("a").removeClass("bg-blue-600")
                            .addClass("bg-gray-600");
                    }
                });

                fnFindStat(status);
            });

            fnFindStat('day');
        });

        function fnFindStat(status) {
            const url = "/manager/totalStat";
            const data = {"pStatus" : status, "date" : $('#datepicker').val()};
            _status = status;

            fnFindJsonAjax(data, url, fnFindStatResult);
        }

        function fnFindStatResult(data) {
            // 전체금액목록
            let tbody0 = $($("#totalStat tbody").get(0));
            tbody0.empty();
            data.priceList.forEach(function(item) {
                tbody0.append(
                    $("<tr>", {class:"border-b border-gray-200 dark:border-gray-700"}).append(
                        $("<th>", {text:item.NAME||item.PAYMENT, class:"text-center px-6 py-4 font-medium whitespace-nowrap bg-gray-50"}),
                        $("<td>", {text:(item.PRICE||0).toLocaleString('ko-KR'), class:"text-center px-6 py-4"})
                    )
                )
            })

            // 와이퍼별 금액
            let tbody1 = $($("#totalStat tbody").get(1));
            tbody1.find('td').text('0');
            data.countList.forEach(function(item) {
                let $tr = tbody1.find("#" + item.SORT);
                $($tr.find('td').get(0)).text((item.COUNT||0).toLocaleString('ko-KR'));
                $($tr.find('td').get(1)).text((item.PRICE||0).toLocaleString('ko-KR'));
            });
            console.log(data);
        }
    </script>
</main>

</body>

</html>