<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

  <head th:replace="layout/fragments/common/head :: head"></head>

  <body>
    <div id="wrapper" th:with="member = ${#authentication.getPrincipal().getMember()}">
      <th:block th:if="${!member.getMemberStatus().getViewName().equals('가입대기')}">
        <th:block th:if="${member.isRoleChanged() eq true}">
          <form th:action="@{/reload}" method="post">
            <div class="p-10">
              <div class=" md:mb-4 mb-3">
                <h2 class="text-2xl font-semibold"> <span th:text="${member.getName()}"></span>님 환영합니다 👏</h2>
                <p class="my-2">권한이 변경되었습니다. 🔥</p>
                <input type="hidden" name="username" th:value="${member.getUsername()}">
                <button type="submit" id="relogin" class="text-white bg-blue-600 font-medium rounded-lg text-sm px-5 py-2.5 w-full">재로그인</button>
              </div>
            </div>
          </form>
        </th:block>

        <th:block th:if="${member.isRoleChanged() eq false && !member.getMemberStatus().equals(T(com.ezkorea.hybrid_app.domain.user.member.MemberStatus).AWAIT)}">
          <!-- Header -->
          <div class="dark">
            <header th:replace="layout/fragments/main/header :: header"></header>
          </div>
          <!-- sidebar -->
          <!--
          <div th:replace="layout/fragments/main/side-bar :: sidebar"></div>
          -->

          <div class="main_content">
            <div class="mcontainer mt-10">
              <main layout:fragment="main"></main>
            </div>
            <!-- Footer -->
            <div th:replace="layout/fragments/common/footer :: footer"></div>
          </div>
        </th:block>
      </th:block>
      <th:block th:if="${member.getMemberStatus().getViewName().equals('가입대기')}">
        <form th:action="@{/reload}" method="post">
          <div class="p-10 pb-1">
            <div class=" md:mb-4 mb-3">
              <h2 class="text-2xl font-semibold"> <span th:text="${member.getName()}"></span>님 환영합니다.</h2>
              <p class="my-2">관리자가 가입 승인할 때까지 기다려주세요. 🙇</p>
              <p class="my-2">가입이 승인될 경우 재로그인 버튼을 눌러주세요.</p>
              <input type="hidden" name="username" th:value="${member.getUsername()}">
              <button type="submit" id="relogin" class="text-white bg-blue-600 font-medium rounded-lg text-sm px-5 py-2.5 w-full">재로그인</button>
            </div>
          </div>
        </form>
        <form th:action="@{/logout}" method="post">
          <div class="p-10 pt-0">
            <button type="submit" class="text-white bg-blue-600 font-medium rounded-lg text-sm px-5 py-2.5 w-full">로그아웃</button>
          </div>
        </form>
      </th:block>
      <th:block th:if="${member.getMemberStatus().equals(T(com.ezkorea.hybrid_app.domain.user.member.MemberStatus).AWAIT) && member.getMemberStatus().getViewName().equals('현직')}">
        <form th:action="@{/reload}" method="post">
          <div class="p-10">
            <div class=" md:mb-4 mb-3">
              <h2 class="text-2xl font-semibold"> <span th:text="${member.getName()}"></span>님 환영합니다.</h2>
              <p class="my-2">관리자가 현직으로 복구할 때까지 기다려주세요. 🙇</p>
              <p class="my-2">복구가 완료될 경우 재로그인 버튼을 눌러주세요.</p>
              <input type="hidden" name="username" th:value="${member.getUsername()}">
              <button type="submit" id="relogin" class="text-white bg-blue-600 font-medium rounded-lg text-sm px-5 py-2.5 w-full">재로그인</button>
            </div>
          </div>
        </form>
      </th:block>

    </div>
  </body>
</html>