<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

  <head th:replace="layout/fragments/common/head :: head"></head>

  <body>
    <div id="wrapper">

      <!-- Header -->
      <header th:replace="layout/fragments/main/header :: header"></header>

      <!-- sidebar -->
      <div th:replace="layout/fragments/main/side-bar :: side_bar"></div>

      <div class="main_content">
        <div class="mcontainer">
          <main layout:fragment="main"></main>
        </div>
      </div>
    </div>
  </body>
</html>