<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

<main layout:fragment="main">
    <style>
        #accountInfo {
            transform-origin: center center;
        }
    </style>
    <section class="text-gray-700 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="-m-4 text-center">
                <div class="p-4 w-full">
                    <div class="border-2 border-gray-600 px-4 py-6 rounded-lg transform transition duration-500 hover:scale-110">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
                            <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
                        </svg>
                        <h2 class="title-font font-medium text-3xl text-gray-900"><span th:text="${profileList.size()}"></span>명</h2>
                        <p class="leading-relaxed">사원수</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="modal" class="uk-open">
        <div class="uk-modal-dialog uk-modal-body rounded-md shadow-2xl">
            <button class="uk-modal-close-default bg-gray-300 p-2 rounded-full m-3" type="button" uk-close></button>
            <!-- component -->
            <div class="min-h-screen flex justify-center items-center">
                <div id="accountInfo" class="space-y-16">
                    <div class="profile_avatar">
                        <div class="profile_avatar_holder">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- component -->
    <input type="text" class="table-live-search-box" placeholder="사원이름을 입력해주세요."/>

    <div class="m-4">
        <table class="w-full text-sm text-left text-gray-500 live-search-table">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                    사진
                </th>
                <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                    사원명
                </th>
                <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                    직급
                </th>
                <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                    지점
                </th>
                <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                    팀
                </th>
                <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                    핸드폰 번호
                </th>
            </tr>
            </thead>
            <tbody class="uk-text-center" th:each="profile : ${profileList}" id="profile">
                <tr class="bg-white border-b">
                    <td class="px-2 py-4 whitespace-nowrap">
                        <div class="w-10 h-10 flex-shrink-0 rounded-md relative mx-auto">
                            <img th:src="${profile['FILE_PATH']}" th:data-value="${profile['FILE_PATH']}" class="absolute w-full h-full inset-0 rounded-full" >
                        </div>
                    </td>
                    <td class="px-2 py-4 whitespace-nowrap">
                        <h3 th:text="${profile['NAME']}"></h3>
                    </td>
                    <td class="px-2 py-4 whitespace-nowrap" th:text="${profile['ROLE_NM']}"></td>
                    <td class="px-2 py-4 whitespace-nowrap" th:text="${profile['DIVISION_NAME']}"></td>
                    <td class="px-2 py-4 whitespace-nowrap" th:text="${profile['TEAM_NAME']}">></td>
                    <td class="px-2 py-4 whitespace-nowrap" th:text="${profile['PHONE']}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>
        jQuery(document).ready(function($){

            const modal = UIkit.modal('#modal');
            // 프로필 이미지
            $("#profile img").on("click", function() {
                $("#accountInfo img").attr("src", $(this).data("value"));
                modal.show();
            });

            $('.live-search-table tbody tr').each(function(){
                $(this).attr('data-search-term', $(this).contents().find( "h3" ).text().toLowerCase());
            });

            $('.table-live-search-box').on('keyup', function(){

                let searchTerm = $(this).val().toLowerCase();

                $('.live-search-table tbody tr').each(function(){
                    if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });

        });
    </script>
</main>

</body>

</html>