<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

<main layout:fragment="main">
    <section class="text-gray-700 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="-m-4 text-center">
                <div class="p-4 w-full">
                    <div class="border-2 border-gray-600 px-4 py-6 rounded-lg transform transition duration-500 hover:scale-110">
                        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="text-indigo-500 w-12 h-12 mb-3 inline-block" viewBox="0 0 24 24">
                            <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M23 21v-2a4 4 0 00-3-3.87m-4-12a4 4 0 010 7.75"></path>
                        </svg>
                        <h2 class="title-font font-medium text-3xl text-gray-900"><span th:text="${memberList.size()}"></span>명</h2>
                        <p class="leading-relaxed">사원수</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- component -->
    <input type="text" class="table-live-search-box" placeholder="사원이름을 입력해주세요."/>

    <div class="m-4">
        <table class="w-full text-sm text-left text-gray-500 live-search-table">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                    사진
                </th>
                <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                    사원명
                </th>
                <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                    직급
                </th>
                <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                    소속
                </th>
                <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                    핸드폰 번호
                </th>
            </tr>
            </thead>
            <tbody class="uk-text-center">
                <tr class="bg-white border-b">
                    <td class="px-2 py-4 whitespace-nowrap">
                        <div class="w-10 h-10 flex-shrink-0 rounded-md relative mx-auto">
                            <img th:src="${master.getS3Image().getFilePath()}" class="absolute w-full h-full inset-0 rounded-full" >
                        </div>
                    </td>
                    <td class="px-2 py-4 whitespace-nowrap">
                        <h3 th:text="${master.getName()}"></h3>
                    </td>
                    <td class="px-2 py-4 whitespace-nowrap" th:text="${master.getRole().getViewName()}"></td>
                    <td class="px-2 py-4 whitespace-nowrap">경영진</td>
                    <td class="px-2 py-4 whitespace-nowrap" th:text="${master.getPhone()}"></td>
                </tr>
            </tbody>
            <tbody class="uk-text-center" th:each="director : ${directorList}">
                <tr class="bg-white border-b">
                    <td class="px-2 py-4 whitespace-nowrap">
                        <div class="w-10 h-10 flex-shrink-0 rounded-md relative mx-auto">
                            <img th:src="${director.getS3Image().getFilePath()}" class="absolute w-full h-full inset-0 rounded-full" >
                        </div>
                    </td>
                    <td class="px-2 py-4 whitespace-nowrap">
                        <h3 th:text="${director.getName()}"></h3>
                    </td>
                    <td class="px-2 py-4 whitespace-nowrap" th:text="${director.getRole().getViewName()}"></td>
                    <td class="px-2 py-4 whitespace-nowrap">경영진</td>
                    <td class="px-2 py-4 whitespace-nowrap" th:text="${director.getPhone()}"></td>
                </tr>
            </tbody>
            <tbody class="uk-text-center" th:each="manager : ${managerList}">
                <tr class="bg-white border-b">
                    <td class="px-2 py-4 whitespace-nowrap">
                        <div class="w-10 h-10 flex-shrink-0 rounded-md relative mx-auto">
                            <img th:src="${manager.getS3Image().getFilePath()}" class="absolute w-full h-full inset-0 rounded-full" >
                        </div>
                    </td>
                    <td class="px-2 py-4 whitespace-nowrap">
                        <h3 th:text="${manager.getName()}"></h3>
                    </td>
                    <td class="px-2 py-4 whitespace-nowrap" th:text="${manager.getRole().getViewName()}"></td>
                    <td class="px-2 py-4 whitespace-nowrap">경리팀</td>
                    <td class="px-2 py-4 whitespace-nowrap" th:text="${manager.getPhone()}"></td>
                </tr>
            </tbody>
            <tbody class="uk-text-center" th:each="division : ${divisionList}" >
                <tr class="bg-white border-b">
                    <td class="px-2 py-4 whitespace-nowrap">
                        <div class="w-10 h-10 flex-shrink-0 rounded-md relative mx-auto">
                            <img th:src="${division.getLeader().getS3Image().getFilePath()}" class="absolute w-full h-full inset-0 rounded-full" >
                        </div>
                    </td>
                    <td class="px-2 py-4 whitespace-nowrap">
                        <h3 th:text="${division.getLeader().getName()}"></h3>
                    </td>
                    <td class="px-2 py-4 whitespace-nowrap" th:text="${division.getLeader().getRole().getViewName()}"></td>
                    <td class="px-2 py-4 whitespace-nowrap" th:text="${division.getDivisionName()}"></td>
                    <td class="px-2 py-4 whitespace-nowrap" th:text="${division.getLeader().getPhone()}"></td>
                </tr>
                <th:block th:each="team : ${division.getTeamList()}">
                <tr class="bg-white border-b">
                    <td class="px-2 py-4 whitespace-nowrap">
                        <div class="w-10 h-10 flex-shrink-0 rounded-md relative mx-auto">
                            <img th:src="${team.getLeader().getS3Image().getFilePath()}" class="absolute w-full h-full inset-0 rounded-full" >
                        </div>
                    </td>
                    <td class="px-2 py-4 whitespace-nowrap">
                        <h3 th:text="${team.getLeader().getName()}"></h3>
                    </td>
                    <td class="px-2 py-4 whitespace-nowrap" th:text="${team.getLeader().getRole().getViewName()}"></td>
                    <td class="px-2 py-4 whitespace-nowrap" th:text="|${team.getTeamName()}|"></td>
                    <td class="px-2 py-4 whitespace-nowrap" th:text="${team.getLeader().getPhone()}"></td>
                </tr>
                <tr class="bg-white border-b" th:each="employee, status : ${team.getMemberList()}">
                    <th:block th:if="${status.index != 0}">
                        <td class="px-2 py-4 whitespace-nowrap">
                            <div class="w-10 h-10 flex-shrink-0 rounded-md relative mx-auto">
                                <img th:src="${employee.getS3Image().getFilePath()}" class="absolute w-full h-full inset-0 rounded-full" >
                            </div>
                        </td>
                        <td class="px-2 py-4 whitespace-nowrap">
                            <h3 th:text="${employee.getName()}"></h3>
                        </td>
                        <td class="px-2 py-4 whitespace-nowrap" th:text="${employee.getRole().getViewName()}"></td>
                        <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap">
                            <h3>"</h3>
                        </th>
                        <td class="px-2 py-4 whitespace-nowrap" th:text="${employee.getPhone()}"></td>
                    </th:block>
                </tr>
            </th:block>
            </tbody>
            <tbody class="uk-text-center" th:each="teamNull : ${teamNullMemberList}">
            <tr class="bg-white border-b">
                <td class="px-2 py-4 whitespace-nowrap">
                    <div class="w-10 h-10 flex-shrink-0 rounded-md relative mx-auto">
                        <img th:src="${teamNull.getS3Image().getFilePath()}" class="absolute w-full h-full inset-0 rounded-full" >
                    </div>
                </td>
                <td class="px-2 py-4 whitespace-nowrap">
                    <h3 th:text="${teamNull.getName()}"></h3>
                </td>
                <td class="px-2 py-4 whitespace-nowrap" th:text="${teamNull.getRole().getViewName()}"></td>
                <td class="px-2 py-4 whitespace-nowrap">소속 없음</td>
                <td class="px-2 py-4 whitespace-nowrap" th:text="${teamNull.getPhone()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <script>
        jQuery(document).ready(function($){

            $('.live-search-table tbody tr').each(function(){
                $(this).attr('data-search-term', $(this).contents().find( "h3" ).text().toLowerCase());
            });

            $('.table-live-search-box').on('keyup', function(){

                let searchTerm = $(this).val().toLowerCase();

                $('.live-search-table tbody tr').each(function(){
                    if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });

        });
    </script>
</main>

</body>

</html>