<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

<main layout:fragment="main">
    <!-- Profile cover -->
    <div class="profile user-profile">

        <div class="profiles_banner bg-dark">

        </div>
        <div class="profiles_content">

            <div class="profile_avatar">
                <div class="profile_avatar_holder">
                    <th:block th:if="${user.getUsername() eq member.getUsername()}">
                        <form id="s3Form">
                            <label for="multipleFiles">
                                <img th:src="${user.getS3Image().getFilePath()}" alt="">
                            </label>
                            <input type='file' name="files" class="hidden" accept=".png, .jpeg, .jpg" id="multipleFiles"/>
                        </form>
                        <script>
                            /*<![CDATA[*/
                            let id = "[[${user.getId()}]]";
                            let username = "[[${user.getUsername()}]]";
                            /*]]>*/
                            const fileInput = document.getElementById("multipleFiles");
                            fileInput.addEventListener("change", function(event) {
                                const file = event.target.files[0];
                                const imageURL = URL.createObjectURL(file);

                                Swal.fire({
                                    imageUrl: imageURL,
                                    imageWidth: 200,
                                    imageHeight: 200,
                                    title: '프로필 사진을 변경하시겠습니까?',
                                    showDenyButton: true,
                                    showCancelButton: true,
                                    confirmButtonText: '변경하기',
                                    denyButtonText: '취소',
                                }).then((result) => {
                                    /* Read more about isConfirmed, isDenied below */
                                    if (result.isConfirmed) {
                                        let time = showLoadingSpinner("이미지를 저장하고 있습니다.");
                                        imageUpload('member', id, '/image/upload', 'PUT');
                                        setTimeout(function () {
                                            $(location).attr("href", "/profile/".concat(username));
                                        }, time);
                                    } else if (result.isDenied) {
                                        Swal.fire('변경되지 않았습니다.')
                                    }
                                })
                            });
                        </script>
                    </th:block>
                    <th:block th:if="${!user.getUsername().equals(member.getUsername())}">
                        <img th:src="${user.getS3Image().getFilePath()}" alt="">
                    </th:block>
                </div>
                <div class="icon_change_photo" hidden> <ion-icon name="camera" class="text-xl"></ion-icon> </div>
            </div>

            <div class="profile_info uk-text-center">
                <h1 th:text="${user.getName()}"> 이름 </h1>
                <p th:text="${user.getRole().viewName}"></p>
            </div>

        </div>

    </div>

    <div class="lg:mt-8 mt-4">

        <!-- Timeline -->
        <div class="md:space-x-6 lg:mx-16">
            <div class="space-y-5">

                <div class="widget card p-5">
                    <h4 class="text-lg font-semibold"> About </h4>
                    <ul class="text-gray-600 space-y-3 mt-3">
                        <li class="flex items-center space-x-2">
                            <ion-icon name="call-outline" class="rounded-full bg-gray-200 text-xl p-1 mr-3"></ion-icon>
                            전화. <strong> <a th:href="|tel:${user.getPhone()}|" th:text="${user.getPhone()}">010-1234-1234</a></strong>
                        </li>
                        <li class="flex items-center space-x-2">
                            <ion-icon name="globe" class="rounded-full bg-gray-200 text-xl p-1 mr-3"></ion-icon>
                            소속. <strong th:text="${user.getDivision() eq null ? '없음' : user.getDivision().getTeam().name}"> 소속 </strong>
                        </li>
                    </ul>
                </div>


            </div>

        </div>
    </div>
</main>

</body>

</html>