<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

<main layout:fragment="main">
    <!-- Profile cover -->
    <div class="profile user-profile">

        <div class="profiles_banner bg-dark"  style="height: 12rem !important;">

        </div>
        <div class="profiles_content">

            <div class="profile_avatar">
                <div class="profile_avatar_holder">
                    <img th:src="${user.getS3Image().getFilePath()}" alt="">
                </div>
                <div class="icon_change_photo" th:if="${user.getId() eq member.getId()}">
                    <a th:href="@{/settings/profile}">
                        <ion-icon name="reload-outline" class="text-xl pt-1"></ion-icon>
                    </a>
                </div>
            </div>

            <div class="profile_info uk-text-center">
                <h1 th:text="${user.getName()}"> 이름 </h1>
                <th:block th:if="${user.getUsername().equals('dev')}">
                    <p>개발팀</p>
                </th:block>
                <th:block th:if="${!user.getUsername().equals('dev')}">
                    <p th:text="${user.getRole().viewName}"></p>
                </th:block>
            </div>

        </div>

    </div>

    <div class="lg:mt-8 mt-4">

        <!-- Timeline -->
        <div class="md:space-x-6 lg:mx-16">
            <div class="space-y-5">

                <div class="widget card p-5">
                    <h4 class="text-lg font-semibold"> About </h4>
                    <ul class="text-gray-600 space-y-3 mt-3">
                        <li class="flex items-center space-x-2">
                            <ion-icon name="call-outline" class="rounded-full bg-gray-200 text-xl p-1 mr-3"></ion-icon>
                            전화. <strong> <a th:href="|tel:${user.getPhone()}|" th:text="${user.getPhone()}">010-1234-1234</a></strong>
                        </li>
                        <li class="flex items-center space-x-2">
                            <ion-icon name="globe" class="rounded-full bg-gray-200 text-xl p-1 mr-3"></ion-icon>
                            소속.
                            <th:block th:if="${user.getDivision() == null}">
                                <th:block th:if="${user.getRole().equals(T(com.ezkorea.hybrid_app.domain.user.member.Role).ROLE_MANAGER)}">
                                    <strong> 경리팀 </strong>
                                </th:block>
                                <th:block th:if="${user.getRole().equals(T(com.ezkorea.hybrid_app.domain.user.member.Role).ROLE_DIRECTOR)}">
                                    <strong> 경영진 </strong>
                                </th:block>
                                <th:block th:if="${user.getRole().equals(T(com.ezkorea.hybrid_app.domain.user.member.Role).ROLE_MASTER)}">
                                    <strong th:if="${user.getUsername().equals('dev')}"> 개발팀 </strong>
                                    <strong th:if="${user.getUsername().equals('master')}"> 경영진 </strong>
                                </th:block>
                                <th:block th:if="${user.getRole().equals(T(com.ezkorea.hybrid_app.domain.user.member.Role).ROLE_EMPLOYEE)}">
                                    <strong th:if="${user.getTeam() == null}"> 소속 없음 </strong>
                                </th:block>
                            </th:block>
                            <th:block th:if="${user.getDivision() != null}">
                                <th:block th:if="${user.getUsername().equals('master')}">
                                    <strong> 경영진 </strong>
                                </th:block>
                                <th:block th:if="${user.getTeam() != null}">
                                    <strong th:text="${user.getTeam().getTeamName()}"> 팀이름 </strong>
                                </th:block>
                                <th:block th:if="${user.getTeam() == null}">
                                    <strong th:text="${user.getDivision().getDivisionName()}"> 지점명 </strong>
                                </th:block>
                            </th:block>
                        </li>
                    </ul>
                </div>


            </div>

        </div>
    </div>
</main>

</body>

</html>