<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

    <main layout:fragment="main">
        <style>
            #editor {
                background-color: white;
            }
        </style>
        <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.min.css">
        <div class="lg:flex lg:space-x-10">

            <div class="lg:w-3/4 space-y-5">

                <div class="card">
                    <div class="p-7">

                        <div class="mb-4 pb-4 border-b border-gray-100">
                            <h1 class="lg:text-2xl text-xl font-semibold mb-2" th:text="${notice.getTitle()}"> 제목 </h1>
                        </div>
                        <div class="space-y-3" id="content" th:utext="${notice.getContent()}"></div>
                    </div>
                </div>

                <div class="card my-4" th:if="${notice.getImageList().size() != 0}">
                    <div class="p-4">
                        <th:block th:if="${notice.getImageList().size() == 1}">
                            <div class="imageRefreshForm mb-4">
                                <div uk-lightbox="animation: slide" class="uk-child-width-1-3@s uk-child-width-1-4@m">
                                    <div th:each="image : ${notice.getImageList()}">
                                        <a th:href="${image.getFilePath()}" data-fancybox="gallery">
                                            <img class="rounded" style="margin : 0 auto; width: 200px; height: 150px;"
                                                 th:src="${image.getFilePath()}"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                        <th:block th:if="${notice.getImageList().size() != 1}">
                            <div id="imageRefreshForm" class="imageRefreshForm mb-4">
                                <div class="uk-container mt-4" uk-slider>
                                    <div class="uk-position-relative uk-visible-toggle uk-light">
                                        <div uk-lightbox="animation: slide" class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m">
                                            <div th:each="image : ${notice.getImageList()}">
                                                <a th:href="${image.getFilePath()}" data-fancybox="gallery">
                                                    <img class="rounded" style="width: 200px; height: 150px;"
                                                         th:src="${image.getFilePath()}"/>
                                                </a>
                                            </div>
                                        </div>
                                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>

                <div class="card p-4">
                    <a th:href="|javascript:window.history.back();|" class="button w-full hover:text-white btn-custom">뒤로가기</a>
                    <th:block sec:authorize="hasAuthority('ROLE_MANAGER')">
                        <button class="button w-full mt-4 btn-custom" type="button" th:uk-toggle="|target: #modal${notice.getId()}|">읽지 않은 사원 확인</button>

                        <!-- This is the modal with the default close button -->
                        <div th:id="|modal${notice.getId()}|" uk-modal>
                            <div class="uk-modal-dialog uk-modal-body rounded-md shadow-2xl">
                                <div class="relative overflow-x-auto shadow-md" id="select-div">

                                    <table class="w-full text-sm text-left text-gray-500 live-search-table">
                                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                                        <tr>
                                            <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                                                사진
                                            </th>
                                            <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                                                이름
                                            </th>
                                            <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                                                핸드폰 번호
                                            </th>
                                            <th scope="col" class="px-2 py-3 uk-text-center w-50 whitespace-nowrap">
                                                직급
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody class="uk-text-center">
                                        <tr class="bg-white border-b" th:each="user : ${notReadList}">
                                            <td>
                                                <div class="w-10 h-10 flex-shrink-0 rounded-md relative mx-auto">
                                                    <img th:src="${user.getS3Image().getFilePath()}" class="absolute w-full h-full inset-0 rounded-full" >
                                                </div>
                                            </td>
                                            <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap">
                                                <h3 th:text="${user.getName()}"></h3>
                                            </th>
                                            <td class="px-2 py-4 whitespace-nowrap" th:text="${user.getPhone()}"></td>
                                            <td class="px-2 py-4 whitespace-nowrap" th:text="${user.getRole().getViewName()}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </th:block>
                    <th:block th:if="${member.getSubAuth().isPostAuth()}">
                        <div class="grid grid-cols-2 gap-4">
                            <a th:href="@{/notice/{id}/update(id=${notice.getId()})}"
                               class="button w-full btn-custom mt-4 hover:text-white">수정하기</a>
                            <button type="button" id="deleteNotice" class="w-full btn-custom text-white mt-4 bg-red-600 h-10 rounded">삭제하기</button>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>

        <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
        <script>

            jQuery(document).ready(function($){

                let content = $('#content').text();
                let html = content.replace(/\n/g, '<br>');
                $('#content').html(html);

                /*const Editor = toastui.Editor;*/

                /*<![CDATA[*/
                let id = "[[${notice.getId()}]]";
                /*]]>*/

                $("#deleteNotice").on("click", function (){
                    let url = '/notice/'.concat(id);
                    Swal.fire({
                        title: '삭제하시겠습니까?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: '삭제',
                        cancelButtonText: '취소'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            fnResponseDataAjax(null, url, 'DELETE', successHref);
                        }
                    })
                });
            });

            function successHref(data, xhr) {
                $(location).attr("href", "/notice");
            }

        </script>
    </main>

</body>

</html>