<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

<main layout:fragment="main">
    <style>
        #chartdiv {
            width: 100%;
            height: 500px;
        }
        #check div a{
            color: #FFFFFF;
        }
    </style>
    <div style="background-color: #FFFFFF" class="rounded-lg">
        <input type="text" id="datepicker" name="datepicker" class="w-full" readonly>
        <div class="grid grid-cols-3 gap-8 p-4" id="check">
            <div name="day" class="text-sm font-medium">
                <a class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full block rounded-lg"> 일간 </a>
            </div>
            <div name="week" class="text-sm font-medium">
                <a class="bg-gray-600 text-white py-2.5 text-center font-semibold w-full block rounded-lg"> 주간 </a>
            </div>
            <div name="month" class="text-sm font-medium">
                <a class="bg-gray-600 text-white py-2.5 text-center font-semibold w-full block rounded-lg"> 월간 </a>
            </div>
        </div>
        <div id="chartdiv"></div>
    </div>
    <script>
        let _status;

        $(document).ready(function(){
            // 달력생성
            fnCalenderMaker($('#datepicker'));

            // 그래프 일자별 검색
            $('#datepicker').on("change", function() {
                fnFindStat(_status);
            })

            $("#check div").on("click", function() {
                let status = $(this).attr("name");

                // 상단바
                $("#check div").each(function() {
                    if($(this).attr("name") == status) {
                        $(this).find("a").removeClass("bg-gray-600")
                            .addClass("bg-blue-600");
                    } else {
                        $(this).find("a").removeClass("bg-blue-600")
                            .addClass("bg-gray-600");
                    }
                });

                fnFindStat(status);
            });

            fnFindStat('day');
        });

        function fnFindStat(status) {
            const url = "/stat/graph";
            const data = {"pStatus" : status, "date" : $("#datepicker").val()};
            _status = status;

            fnFindJsonAjax(data, url, fnFindStatResult);
        }

        function fnFindStatResult(data) {
            am4core.useTheme(am4themes_animated);

            let chart = am4core.create("chartdiv", am4charts.XYChart);
            chart.data = data.result;

            let categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
            categoryAxis.renderer.grid.template.location = 0;
            categoryAxis.dataFields.category = "NAME";
            categoryAxis.renderer.minGridDistance = 1;
            categoryAxis.renderer.inversed = true;
            categoryAxis.renderer.grid.template.disabled = true;

            let valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
            valueAxis.min = 0;

            let series = chart.series.push(new am4charts.ColumnSeries());
            series.dataFields.categoryY = "NAME";
            series.dataFields.valueX = "PRICE";
            series.dataFields.count = "COUNT";
            series.tooltipText = "{valueX.value}";
            series.columns.template.strokeOpacity = 0;
            series.columns.template.column.cornerRadiusBottomRight = 5;
            series.columns.template.column.cornerRadiusTopRight = 5;
            series.columns.template.fill = am4core.color("#5CD1E5");

            let labelBullet = series.bullets.push(new am4charts.LabelBullet());
            labelBullet.label.horizontalCenter = "left";
            labelBullet.label.dx = 10;
            labelBullet.label.text = "{values.valueX.workingValue}" + "원(" + "{count}" + "개)";
            labelBullet.label.truncate = false;
            labelBullet.label.hideOversized = false;
            labelBullet.locationX = 1;

            series.columns.template.adapter.add("fill", function(fill, target){
                return chart.colors.getIndex(target.dataItem.index);
            });
        }
    </script>
</main>

</body>

</html>