<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

    <main layout:fragment="main">
        <style>
            #payDate {
                padding: 0 2.5rem !important;
            }
            input, select, button {
                color: black !important;
                border : 1px solid #ccc !important;
                background-color: white !important;
            }
        </style>
        <div id="bg" class="lg:space-x-12">
            <form id="createExpensesForm" onsubmit="return false;">
                <div class="card px-8 py-4">
                    <div class="text-center my-4">
                        <h3 class="font-bold text-xl"> 경비 사용 보고서 </h3>
                    </div>

                    <div id="expensesDiv">
                        <label for="expensesStatus" class="font-semibold text-lg"> 사용 분류 </label>
                        <select name="expensesStatus" id="expensesStatus" class="px-4">
                            <option th:each="expensesStatus : ${T(com.ezkorea.hybrid_app.domain.expenses.ExpensesStatus).values()}"
                                    th:value="${expensesStatus}"
                                    th:text="${expensesStatus.viewName}">
                            </option>
                        </select>
                    </div>

                    <div id="fuelDiv" class="hidden mt-4">
                        <div>
                            <label for="fuelStatus" class="font-semibold text-lg"> 유종 </label>
                            <select name="fuelStatus" id="fuelStatus" class="px-4">
                                <option th:each="fuelStatus : ${T(com.ezkorea.hybrid_app.domain.expenses.FuelStatus).values()}"
                                        th:value="${fuelStatus}"
                                        th:text="${fuelStatus.viewName}">
                                </option>
                            </select>
                        </div>

                        <div class="my-4">
                            <label for="gasStation" class="font-semibold text-lg"> 근무지 </label>
                            <select name="stationId" id="gasStation" class="px-4">
                                <option th:each="station : ${stationList}"
                                        th:value="${station.getId()}"
                                        th:text="|${station.getStationName()}(${station.getStationLocation()})|"></option>
                            </select>
                        </div>
                    </div>

                    <div id="costDiv" class="my-4">
                        <label for="cost" class="font-semibold text-lg"> 비용 </label>
                        <input id="cost" class="with-border" name="cost" type="number" onkeyup="this.setAttribute('value', this.value);" value="" autocomplete="off" required>
                    </div>

                    <div id="dateDiv" class="relative mb-4">
                        <label for="payDate" class="font-semibold text-lg"> 결제 날짜 </label>
                        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pt-8 pointer-events-none">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path>
                            </svg>
                        </div>
                        <input type="text" name="payDate" id="payDate" readonly required class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5" placeholder="날짜를 선택해주세요.">
                    </div>

                    <form id="s3Form" onsubmit="return false;">
                        <div class="flex items-center justify-center bg-grey-lighter my-4">
                            <label class="w-64 flex flex-col items-center px-4 py-6 bg-white text-blue rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-blue hover:text-white">
                                <svg class="w-8 h-8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
                                </svg>
                                <span class="mt-2 text-base leading-normal">Select a Images</span>
                                <input type='file' name="files" class="hidden" accept=".png, .jpeg, .jpg" id="multipleFiles" required/>
                            </label>
                        </div>
                        <div id="imageChange" class="flex justify-between"></div>
                    </form>

                    <div class="grid grid-cols-2 gap-4 m-4">
                        <button onclick="window.history.back()" class="w-full rounded-lg py-2">뒤로가기</button>
                        <button id="submit" type="button" class="w-full rounded-lg py-2">생성하기</button>
                    </div>
                </div>
            </form>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/datepicker.min.js"></script>
        <script>

            let selectedValue = 'FOOD';

            $(document).ready(function() {
                $("#expensesStatus").change(function() {
                    selectedValue = $(this).val();
                    if (selectedValue === "FUEL") {
                        $("#fuelDiv").show();
                        $('#payDate').val("");
                    } else {
                        $("#fuelDiv").hide();
                        $('#payDate').val("");
                    }
                });

                let url = new URL(window.location.href);
                let date = url.searchParams.get("date");

                fnCalenderMaker($('#payDate'), date);

            });

            function getStationInfo(data, xhr) {

                console.log(data);
                console.log(xhr);
                let gasStation = $('#gasStation');

                if (data === 'success') {
                    gasStation.empty(); // 기존 옵션 삭제

                    xhr.stations.forEach(function (item) {
                        console.log(item);
                        gasStation.append($('<option>').val(item.stationId).text(item.stationName));
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        text: '근무한 이력이 없습니다.',
                    });
                }
            }

            $("#submit").on("click", function (){
                if (fileCount === 1) {
                    if (selectedValue === 'FOOD') {
                        $('#stationId').val("");
                    }
                    fnResponseCrudJsonAjax($('#createExpensesForm').serializeObject(), '/expenses', 'POST', successHref);
                } else {
                    Swal.fire({
                        icon: 'error',
                        text: '영수증 사진을 한 장 첨부해주세요.',
                    });
                }
            });

            function successHref(data, xhr) {
                let savedId = xhr.id;
                imageUpload('expenses', savedId, '/image/upload', 'PUT');
                if (fileCount !== 0) {
                    let time = showLoadingSpinner("이미지를 저장하고 있습니다.");
                    setTimeout(function () {
                        $(location).attr("href", "/expenses/".concat(selectedValue));
                    }, time);
                } else {
                    $(location).attr("href", "/expenses/".concat(selectedValue));
                }
            }
        </script>
    </main>

</body>

</html>