<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

<main layout:fragment="main">
    <style>
        .commute-border{
            border : 1px solid #ccc !important;
        }
    </style>

    <div class="lg:space-x-12">
        <div class="" id="body_div">
            <div class="card py-6 px-4">
                <form th:action="@{/commute}" method="post" id="commuteForm">
                    <input type="hidden" id="location" name="location" value=""/>
                    <div th:if="${!isOnTime}">
                        <h1 class="text-lg"><span class="font-bold" th:text="${member.getName()}"></span>님 환영합니다.</h1>
                        <p class="my-2 text-sm">출근 처리를 먼저한 뒤 오늘 하루를 시작해보세요</p>
                        <input type="hidden" name="commuteStatus" th:value="${T(com.ezkorea.hybrid_app.domain.user.commute.CommuteStatus).valueOf('ON_TIME').getKey()}"/>
                        <button type="button" id="onTimeBtn" class="mt-2 text-black bg-white font-bold rounded-lg text-sm px-5 py-2.5 w-full commute-border">출근 체크</button>
                    </div>
                    <div th:if="${isOnTime}">
                        <th:block th:if="${commute.getStatus().equals('onTime')}">
                        <h1 class="text-lg"><span class="font-bold" th:text="${member.getName()}"></span>님 오늘도 힘내세요.</h1>
                            <p class="my-2">출근 시간 : <span th:text="${#temporals.format(commute.getOnTime(), 'HH시 mm분')}"></span></p>
                            <input type="hidden" name="commuteStatus" th:value="${T(com.ezkorea.hybrid_app.domain.user.commute.CommuteStatus).valueOf('OFF_TIME').getKey()}"/>
                            <button style="border : 1px solid #ccc;"
                                    type="button" id="offTimeBtn" class="mt-2 text-black bg-white font-bold rounded-lg text-sm px-5 py-2.5 w-full commute-border">퇴근 체크</button>
                        </th:block>
                        <th:block th:if="${commute.getStatus().equals('offTime')}">
                            <h1 class="text-lg"><span class="font-bold" th:text="${member.getName()}"></span>님 오늘도 수고하셨습니다.</h1>
                            <p class="my-2">퇴근 시간 : <span th:text="${#temporals.format(commute.getOffTime(), 'HH시 mm분')}"></span></p>
                            <button style="border : 1px solid #ccc;"
                                    type="button" disabled class="mt-2 text-black bg-white font-bold rounded-lg text-sm px-5 py-2.5 w-full commute-border">퇴근 완료</button>
                        </th:block>
                    </div>
                </form>

                <form id="mealChkForm">
                    <th:block th:if="${mealChk}">
                        <button type="button" class="mt-2 text-black bg-white font-bold rounded-lg text-sm px-5 py-2.5 w-full commute-border">식사 체크 완료</button>
                    </th:block>
                    <th:block th:if="${!mealChk}">
                        <button type="button" id="mealChk" class="mt-2 text-black bg-white font-bold rounded-lg text-sm px-5 py-2.5 w-full commute-border">식사 체크</button>
                    </th:block>
                </form>
            </div>

            <hr class="my-5">

            <div class="card py-6 px-4">
                <div class="flex justify-between mb-4">
                    <h2 class="text-xl font-semibold mb-2"> 공지사항 </h2>
                    <p><a class="text-black" th:href="@{/notice}">더보기️ </a></p>
                </div>
                <div class="grid grid-cols-3 text-center mb-4">
                    <div class="border-r">
                        <a th:href="@{/notice}">
                            <div class="text-bold text-lg">
                                <span th:text="${noticeCount}"></span>
                            </div>
                            <div>
                                <h1 class="text-sm" >전체</h1>
                            </div>
                        </a>
                    </div>
                    <div class="border-r">
                        <a th:href="@{/notice/not-read}">
                            <div class="text-bold text-lg">
                                <span th:text="${noticeNotReadCount}"></span>
                            </div>
                            <div>
                                <h1 class="text-sm">읽지 않음</h1>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a th:href="@{/notice}">
                            <div class="text-bold text-lg">
                                <span th:text="${noticeCount - noticeNotReadCount}"></span>
                            </div>
                            <div>
                                <h1 class="text-sm">읽음</h1>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="relative" uk-slider="finite: true">
                    <div class="uk-slider-container px-3 py-3">
                        <ul class="uk-slider-items uk-grid-small uk-grid">
                            <li th:each="notice : ${noticeList}">
                                <a class="uk-link-reset hover:text-black" th:href="@{/notice/{id}(id = ${notice.getId()})}">
                                    <div class="w-56 h-32 rounded-lg uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="animation: push">
                                        <ul class="uk-slideshow-items">
                                            <li class="rounded-lg">
                                                <th:block th:if="${notice.getImageList().size() != 0}">
                                                    <img th:src="${notice.getImageList().get(0).getFilePath()}" uk-cover>
                                                </th:block>
                                                <th:block th:if="${notice.getImageList().size() == 0}">
                                                    <img src="/assets/images/bg-img.jpg" uk-cover>
                                                </th:block>
                                                <div class="text-center uk-position-bottom py-1 px-2 backdrop-filter backdrop-blur-3xl">
                                                    <p class="font-medium text-md text-white line-clamp-1 overflow-hidden" th:text="${notice.getTitle()}"></p>
                                                    <p class="font-normal text-sm text-white" th:text="${#temporals.format(notice.getCreateDate(), 'yyyy년 MM월 dd일')}"></p>
                                                </div>
                                            </li>
                                        </ul>
                                        <a class="uk-position-center-left uk-position-small uk-hidden-hover text-white p-4" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
                                        <a class="uk-position-center-right uk-position-small uk-hidden-hover text-white p-4" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr class="my-5">

            <div class="card py-6 px-4">
                <div class="grid grid-cols-5 gap-4 text-center">
                    <a th:href="@{/sales}" class="hover:text-black">
                        <div class="card p-1 mb-2 mx-auto w-12 h-12 bg-gray-100 text-black leading-10">
                            SALE
                        </div>
                        <span class="text-sm"> 판매 </span>
                    </a>
                    <a th:href="@{/station/index}" class="hover:text-black">
                        <div class="card p-1 mb-2 mx-auto w-12 h-12 bg-gray-100 text-black leading-10">
                            OIL
                        </div>
                        <span class="text-sm"> 주유소 </span>
                    </a>
                    <a th:href="@{/expenses/FUEL}" class="hover:text-black">
                        <div class="card p-1 mb-2 mx-auto w-12 h-12 bg-gray-100 text-black leading-10">
                            EXP
                        </div>
                        <span class="text-sm"> 경비 </span>
                    </a>
                    <a th:href="@{/stat/main}" class="hover:text-black">
                        <div class="card p-1 mb-2 mx-auto w-12 h-12 bg-gray-100 text-black leading-10">
                            MVP
                        </div>
                        <span class="text-sm"> MVP </span>
                    </a>
                    <a th:href="@{/chart/view}" class="hover:text-black">
                        <div class="card p-1 mb-2 mx-auto w-12 h-12 bg-gray-100 text-black leading-10">
                            ORG
                        </div>
                        <span class="text-sm"> 조직도 </span>
                    </a>
                    <a th:href="@{/etc/msgToCeo}" class="hover:text-black">
                        <div class="card p-1 mb-2 mx-auto w-12 h-12 bg-gray-100 text-black leading-10">
                            REQ
                        </div>
                        <span class="text-sm"> 건의 </span>
                    </a>
                    <a th:href="@{/wiper/index}" class="hover:text-black">
                        <div class="card p-1 mb-2 mx-auto w-12 h-12 bg-gray-100 text-black leading-10">
                            W
                        </div>
                        <span class="text-sm"> 조견표 </span>
                    </a>
                    <a th:href="@{/sales/input/index}" class="hover:text-black" th:if="|${member.getSubAuth().isInputAuth() eq true}|">
                        <div class="card p-1 mb-2 mx-auto w-12 h-12 bg-black text-white leading-10">
                            IN
                        </div>
                        <span class="text-sm"> 입고 </span>
                    </a>
                    <a th:href="@{/manager/home}" class="hover:text-black" sec:authorize="hasAuthority('ROLE_MANAGER')">
                        <div class="card p-1 mb-2 mx-auto w-12 h-12 bg-black text-white leading-10">
                            M
                        </div>
                        <span class="text-sm"> 매니징 </span>
                    </a>
                    <a th:href="@{/note}" class="hover:text-black" sec:authorize="hasAnyAuthority('ROLE_MASTER', 'ROLE_DIRECTOR')">
                        <div class="card p-1 mb-2 mx-auto w-12 h-12 bg-black text-white leading-10">
                            P
                        </div>
                        <span class="text-sm"> 패치 </span>
                    </a>
                </div>
            </div>

            <hr class="my-5">

            <div class="card py-6">
                <div class="flex justify-between mb-4 px-4">
                    <h2 class="text-xl font-semibold mb-2"> MVP </h2>
                    <p><a class="text-black" th:href="@{/stat/main}">더보기️ </a></p>
                </div>
                <div>
                    <div id="chartdiv" class="h-72"></div>
                </div>
            </div>

        </div>
    </div>
    <script>
        let locationStr = "";
        let submitFlag = true;

        function setLocation() {
            navigator.geolocation.getCurrentPosition(function (position){
                const lat = position.coords.latitude;
                const lng = position.coords.longitude;
                submitFlag = true;
                locationStr = lat + ',' + lng;
            }, function (){
                Swal.fire({
                    icon: 'question',
                    html: '위치 정보를 가져올 수 없습니다.<br>위치 정보 허용을 해주세요.',
                    footer: '핸드폰 설정 ➡️ 위치 서비스 ➡️ 사용하는 브라우저 위치 서비스 허용 ➡️ 메인 페이지 새로 고침'
                })
                submitFlag = false;
            });
        }

        $("#offTimeBtn").on("click", function (){
            Swal.fire({
                html: '퇴근하시겠습니까?',
                showDenyButton: true,
                confirmButtonText: '퇴근하기',
                denyButtonText: `닫기`,
            }).then((result) => {
                if(result.isConfirmed){
                    setTimeLoadingSpinner(5000, "위치 정보를 저장하고 있습니다.");
                    setLocation();
                    setTimeout(function() {
                        $('#location').attr('value', locationStr);
                        if (submitFlag === true  && locationStr.length !== 0) {
                            $('#commuteForm').submit();
                        }
                    }, 5000);
                }
            })
        });

        $("#onTimeBtn").on("click", function (){
            Swal.fire({
                title: '출근하시겠습니까?',
                html: "'위치 액세스 권한'을 허용하신 후 출근 체크를 눌러주세요.",
                showDenyButton: true,
                confirmButtonText: '출근하기',
                denyButtonText: `닫기`,
            }).then((result) => {
                if(result.isConfirmed){
                    setTimeLoadingSpinner(5000, "위치 정보를 저장하고 있습니다.");
                    setLocation();
                    setTimeout(function() {
                        $('#location').attr('value', locationStr);
                        if (submitFlag === true  && locationStr.length !== 0) {
                            $('#commuteForm').submit();
                        }
                    }, 5000);
                }
            })
        });

        $("#mealChk").on("click", function (){
            Swal.fire({
                html: '식사 체크 하시겠습니까?',
                showDenyButton: true,
                confirmButtonText: '체크하기',
                denyButtonText: `닫기`,
            }).then((result) => {
                fnResponseDataAjax($('#mealChkForm').serializeObject(), '/meal', 'POST', successHref);
            })
        });

        function successHref(data, xhr) {
            $(location).attr("href", "/");
        }
    </script>
    <script>
        am4core.ready(function() {
            const url = "/stat/graph";
            const data = {"pStatus" : 'day', "date" : getToday()};

            fnFindJsonAjax(data, url, fnFindStatResult);

            function fnFindStatResult(data) {
                if(data.result.length !== 0){
                    am4core.useTheme(am4themes_animated);

                    data.result.forEach(function(item) {
                        item["price1"] = item.PRICE.replaceAll(",", "") / 10000
                    });

                    console.log("data", data.result);

                    let chart = am4core.create("chartdiv", am4charts.XYChart);
                    if(chart.logo) {
                        chart.logo.disabled = true;
                    }
                    chart.data = data.result;

                    // Create axes
                    let categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
                    categoryAxis.dataFields.category = "NAME";
                    categoryAxis.renderer.grid.template.location = 0;
                    categoryAxis.renderer.minGridDistance = 30;
                    categoryAxis.title.text = "판매금액(만원)";
                    //categoryAxis.renderer.labels.template.rotation = 270;

                    let valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                    valueAxis.renderer.opposite = true;

                    // Create series
                    let series = chart.series.push(new am4charts.ColumnSeries());
                    series.dataFields.valueY = "price1";
                    series.dataFields.categoryX = "NAME";
                    series.name = "Visits";
                    series.columns.template.tooltipText = "{categoryX}: [bold]{valueY}만원[/]";
                    series.columns.template.fillOpacity = .8;

                    let labelBullet = series.bullets.push(new am4charts.LabelBullet());
                    labelBullet.label.text = "[bold]{COUNT}" + "개[/]";
                    labelBullet.label.truncate = false;
                    labelBullet.label.hideOversized = false;
                    //labelBullet.locationX = 1;

                    let columnTemplate = series.columns.template;
                    columnTemplate.strokeWidth = 2;
                    columnTemplate.strokeOpacity = 1;
                }
                else{
                    $('#chartdiv').append("<div class='text-center'>판매 데이터가 존재하지 않습니다.</div>").removeClass('h-72');
                }
            }
        });
    </script>

</main>

</body>

</html>