<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-login}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

    <body>

        <main layout:fragment="login">
            <style>
                .submit-btn-border{
                    border : 1px solid #ccc !important;
                }
            </style>

            <div class="lg:p-12 max-w-xl mx-auto p-6 space-y-">

                <form th:action method="post" class="lg:p-10 p-6 space-y-3 relative bg-white shadow-xl rounded-md">

                    <div class="uk-text-center mb-6">
                        <h1 class="text-2xl font-semibold"> 로그인 </h1>
                        <small>로그인 정보는 2주 단위로 초기화 됩니다.</small>
                    </div>

                    <hr class="pb-4">

                    <th:block th:if="${signUp}">
                        <div class="bg-blue-500 border p-4 relative rounded-md uk-alert" uk-alert="">
                            <button class="uk-alert-close absolute bg-gray-100 bg-opacity-20 m-5 p-0.5 pb-0 right-0 rounded text-gray-200 text-xl top-0">
                                <i class="icon-feather-x"></i>
                            </button>
                            <h3 class="text-lg font-semibold text-white">알림</h3>
                            <p class="text-white text-opacity-75" th:text="${signUp}"></p>
                        </div>
                    </th:block>

                    <div>
                        <label class="mb-0"> 아이디 </label>
                        <input type="text" name="username" placeholder="Username" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full submit-btn-border">
                    </div>
                    <div>
                        <label class="mb-0"> 비밀번호 </label>
                        <input type="password" name="password" placeholder="******" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full submit-btn-border">
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" class="text-white" id="remember-me" name="remember-me" checked="">
                        <label for="remember-me"><span class="checkbox-icon"></span> 로그인 정보 기억하기
                        </label>
                    </div>

                    <hr class="my-4">

                    <div>
                        <button type="submit" class="bg-white text-black font-semibold p-2 rounded-lg text-sm text-center w-full submit-btn-border hover:bg-gray-50">
                            로그인</button>
                    </div>
                    <div>
                        <button type="button" id="signUp" class="bg-white text-black font-semibold p-2 text-sm rounded-lg text-center w-full submit-btn-border hover:bg-gray-50">
                            <a th:href="@{/signup}" class="w-full hover:text-black">회원가입</a>
                        </button>
                    </div>
                    <div>
                        <button type="button" id="passwordFind" class="bg-white text-black font-semibold text-sm p-2 rounded-lg text-center w-full submit-btn-border hover:bg-gray-50">
                            <a th:href="@{/findPassword}" class="w-full hover:text-black">비밀번호 찾기</a>
                        </button>
                    </div>
                </form>

            </div>
            <script>
                const urlParams = new URL(location.href).searchParams;

                if (urlParams.has('error')) {
                    Swal.fire({
                        icon: 'error',
                        text: '입력한 정보를 확인해주세요.',
                    });
                }
            </script>
        </main>

    </body>

</html>