<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-login}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

    <body>

        <main layout:fragment="login">
            <style>
                #signUp{
                    background-color: #2563EB;
                }
                #passwordFind{
                    background-color: #9333EA;
                }
            </style>
            <div class="lg:p-12 max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">

                <form th:action method="post" class="lg:p-10 p-6 space-y-3 relative bg-white shadow-xl rounded-md">
                    <h1 class="lg:text-2xl text-xl font-semibold mb-6"> 로그인 </h1>

                    <div>
                        <label class="mb-0"> 아이디 </label>
                        <input type="text" name="username" placeholder="Username" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full">
                    </div>
                    <div>
                        <label class="mb-0"> 비밀번호 </label>
                        <input type="password" name="password" placeholder="******" class="bg-gray-100 h-12 mt-2 px-3 rounded-md w-full">
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" id="remember-me" name="remember-me" checked="">
                        <label for="remember-me"><span class="checkbox-icon"></span> 로그인 정보 기억하기
                        </label><br>
                        <small>로그인 정보는 2주 단위로 초기화 됩니다.</small>
                    </div>

                    <div>
                        <button type="submit" class="bg-blue-600 font-semibold p-2 mt-5 rounded-md text-center text-white w-full">
                            로그인</button>
                    </div>
                    <div>
                        <a id="signUp" th:href="@{/signup}" class="button w-full px-6 py-3 rounded-md shadow text-white hover:text-white">회원가입</a>
                    </div>
                    <div>
                        <a id="passwordFind" th:href="@{/findPassword}" class="button w-full px-6 py-3 rounded-md shadow text-white hover:text-white">비밀번호 찾기</a>
                    </div>
                </form>

            </div>
            <script>
                const urlParams = new URL(location.href).searchParams;

                if (urlParams.has('error')) {
                    Swal.fire({
                        icon: 'error',
                        text: '입력한 정보를 확인해주세요.',
                    });
                }
            </script>
        </main>

    </body>

</html>