<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

    <main layout:fragment="main">
        <style>
            .icon {
                display: inline-block;
                vertical-align: middle;
            }
            button{
                color: #FFFFFF;
            }
        </style>
        <div class="lg:space-x-12">

            <div class="lg:w-full card">

                <div class="p-8">

                    <div class="flex items-center space-x-3">
                        <div class="p-1.5 rounded-full text-2xl">⛽️</div>
                        <div class="flex-1">
                            <div>
                                <span class="text-xl font-semibold" th:text="${station['stationName']}"> 주유소 이름 </span>
                            </div>
                            <p th:text="${station['stationLocation']}"></p>
                        </div>
                    </div>

                    <div class="grid grid-cols-2 gap-4 my-4">
                        <button type="button" th:data-id="${station.getId()}" th:onclick="|fnEndStation(this.getAttribute('data-id'))|" class="flex items-center bg-blue-600 justify-center h-9 px-4 rounded-md font-semibold"> 철수 </button>
                        <button sec:authorize="hasAuthority('ROLE_MASTER')" type="button" th:onclick="|location.href='/station/save?id=${station.getId()}';|" class="flex items-center bg-blue-600 justify-center h-9 px-4 rounded-md font-semibold"> 수정 </button>
                    </div>

                    <hr class="my-4">

                    <div class="">
                        <h1 class="block text-lg font-bold mb-4"> 공지사항  </h1>
                        <div class="md:flex">
                            <div class="md:w-2/3 space-y-4 -mt-2">
                                <div class="items-center space-x-3">
                                    <div>
                                        <div th:text="${station['memo']}">
                                        </div>
                                    </div>
                                </div>
                                <div class="flex items-center space-x-3">
                                </div>
                            </div>

                            <div class="flex-1 space-y-4 md:mt-0 mt-6 text-sm font-medium">
                                <a th:href="@{|/station/inoutList?id=${station.id}&date=${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}|}" class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 입출고기록 </a>
                                <a th:href="@{|/station/stock?id=${station.id}|}" class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 재고기록 </a>
                                <a th:href="@{|/station/withdraw?id=${station.id}|}" class="bg-blue-600 text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 철수기록 </a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <ul>
                            <li th:each="attach : ${attachList}">
                                <img th:src="|${attach.path}/${attach.fileName}|" alt="첨부이미지"/>
                            </li>
                        </ul>
                    </div>
                    <a th:href="@{/station/index}" class="bg-yellow-600 text-sm font-medium text-white py-2.5 text-center font-semibold w-full mt-4 block rounded hover:text-white"> 뒤로가기 </a>
                </div>
            </div>

        </div>
        <script>
            function fnEndStation(id) {
                Swal.fire({
                    html: '철수하시겠습니까?',
                    showDenyButton: true,
                    confirmButtonText: '철수',
                    denyButtonText: `취소`,
                }).then((result) => {
                    if(result.isConfirmed){
                        const fnload = function(data) {
                            location.href= "/station/withdraw?id=" + id;
                        }
                        fnCrudJsonAjax({"stationId" : id, "status" : "end"}, "/station/withdraw", fnload, "post", "정상적으로 저장되었습니다.");
                    }
                })
            }


        </script>
    </main>

</body>

</html>