<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

    <main layout:fragment="main">
        <div class="lg:space-x-12">
            <form id="createTeamForm" onsubmit="return false;">
                <div class="max-w-2xl m-auto shadow-md rounded-md bg-white lg:mt-20">

                    <!-- form header -->
                    <div class="text-center border-b border-gray-100 py-6">
                        <h3 class="font-bold text-xl"> 지점 수정 </h3>
                    </div>

                    <!-- form body -->
                    <div class="p-10 space-y-7">

                        <div>
                            <label for="teamName" class="font-semibold text-base"> 지점명 </label>
                            <input id="teamName" class="with-border" th:value="${division.getDivisionName()}" name="teamName" type="text" onkeyup="this.setAttribute('value', this.value);" value="" autocomplete="off">
                        </div>

                        <div>
                            <label for="teamGM" class="font-semibold text-base"> 지점장 선택 </label>
                            <select id="teamGM" name="teamGM"  class="shadow-none selectpicker with-border">
                                <th:block th:if="${division.getLeader() != null}">
                                    <option th:each="gm : ${gmList}"
                                            th:value="${gm.getUsername()}"
                                            th:selected="${gm.getUsername() eq division.getLeader().getUsername()}"
                                            th:text="|${gm.getName()}(${gm.getPhone()})|">이름</option>
                                    <option value="0">지점장 선택 안 함</option>
                                </th:block>
                                <th:block th:if="${division.getLeader() == null}">
                                    <option th:each="gm : ${gmList}"
                                            th:value="${gm.getUsername()}"
                                            th:text="|${gm.getName()}(${gm.getPhone()})|">이름</option>
                                    <option selected value="0">지점장 선택 안 함</option>
                                </th:block>
                            </select>
                        </div>

                    </div>

                    <!-- form footer -->
                    <div class="mx-4 px-4">
                        <button id="delete" type="button" class="bg-red-500 rounded-lg text-white py-2 w-full">삭제하기</button>
                    </div>
                    <div class="grid grid-cols-2 gap-4 mx-4 px-4 mt-4 pb-4">
                        <a th:href="|javascript:window.history.back();|" class="button w-full">뒤로가기</a>
                        <button id="submit" type="button" class="button w-full">수정하기</button>
                    </div>
                </div>
            </form>
        </div>
        <script>
            jQuery(document).ready(function($){

                $('.live-search-list li').each(function(){
                    $(this).attr('data-search-term', $(this).contents().find( "h3" ).text().toLowerCase());
                });

                $('.live-search-box').on('keyup', function(){

                    var searchTerm = $(this).val().toLowerCase();

                    $('.live-search-list li').each(function(){

                        if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }

                    });

                });

            });

            /*<![CDATA[*/
            let id = "[[${division.getId()}]]";
            /*]]>*/

            $("#submit").on("click", function (){
                if ($('#teamName').val().length !== 0) {
                    const url = '/manager/division/'.concat(id);
                    fnResponseDataAjax($('#createTeamForm').serializeObject(), url, 'PUT', successHref);
                } else {
                    Swal.fire({
                        icon: 'error',
                        text: '팀 이름을 입력해주세요.',
                    });
                }
            });

            function successHref(data) {
                $(location).attr("href", "/manager/division/".concat(id));
            }

            $("#delete").on("click", function (){
                Swal.fire({
                    title: '지점을 삭제하시겠습니까?',
                    html: "지점을 삭제할 시 소속된 팀 모두 삭제되며, <br> 삭제된 데이터는 복원할 수 없습니다.",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '삭제',
                    cancelButtonText: '취소'
                }).then((result) => {
                    if (result.isConfirmed) {
                        const url = '/manager/division/'.concat(id);
                        fnResponseDataAjax($('#createTeamForm').serializeObject(), url, 'DELETE', deleteHref);
                    }
                })
            });

            function deleteHref(data) {
                $(location).attr("href", "/manager/division");
            }
        </script>
    </main>

</body>

</html>