<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

    <main layout:fragment="main">
        <div class="lg:space-x-12">
            <form id="createTeamForm" onsubmit="return false;">
                <div class="max-w-2xl m-auto shadow-md rounded-md bg-white">

                    <!-- form header -->
                    <div class="text-center border-b border-gray-100 py-6">
                        <h3 class="font-bold text-xl"> 지점 상세 </h3>
                    </div>

                    <!-- form body -->
                    <div class="p-10 space-y-7">

                        <div>
                            <label for="teamName" class="font-semibold text-base"> 지점명 </label>
                            <input id="teamName" class="with-border text-white" name="teamName" type="text" th:value="${division.getDivisionName()}" autocomplete="off" readonly>
                        </div>

                        <div>
                            <label for="teamGM" class="font-semibold text-base"> 지점장 </label>
                            <th:block th:if="${division.getLeader() != null}">
                                <input id="teamGM" class="with-border text-white" name="teamGM" type="text" th:value="|${division.getLeader().getName()}(${division.getLeader().getPhone()})|" autocomplete="off" readonly>
                            </th:block>
                            <th:block th:if="${division.getLeader() == null}">
                                <input class="with-border text-white" name="teamGM" type="text" value="없음" autocomplete="off" readonly>
                            </th:block>
                        </div>

                        <div class="overflow-x-auto">
                            <label class="font-semibold text-base"> 소속 팀 </label>
                            <table class="w-full text-sm text-left text-gray-500 live-search-table">
                                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                                <tr>
                                    <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                                        명칭
                                    </th>
                                    <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                                        사원명
                                    </th>
                                    <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                                        직급
                                    </th>
                                    <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                                        핸드폰 번호
                                    </th>
                                    <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                                        수정
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="uk-text-center">
                                <th:block th:each="team : ${division.getTeamList()}">

                                    <th:block th:if="${team.getLeader() != null}">
                                        <tr class="bg-white border-b">
                                            <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap">
                                                <h3 th:text="${team.getTeamName()}"></h3>
                                            </th>
                                            <td class="px-2 py-4 whitespace-nowrap" th:text="${team.getLeader().getName()}"></td>
                                            <td class="px-2 py-4 whitespace-nowrap" th:text="${team.getLeader().getRole().viewName}"></td>
                                            <td class="px-2 py-4 whitespace-nowrap" th:text="${team.getLeader().getPhone()}"></td>
                                            <td class="px-2 py-4 whitespace-nowrap">
                                                <a th:href="@{/manager/team/update/{id}(id=${team.getId()})}" class="button w-full">팀 수정</a>
                                            </td>
                                        </tr>
                                        <tr class="bg-white border-b"
                                            th:each="employee : ${team.getMemberList()}">
                                            <th:block th:if="${team.getLeader().getId() != employee.getId()}">
                                                <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap">
                                                    <h3>"</h3>
                                                </th>
                                                <td class="px-2 py-4 whitespace-nowrap" th:text="${employee.getName()}"></td>
                                                <td class="px-2 py-4 whitespace-nowrap" th:text="${employee.getRole().viewName}"></td>
                                                <td class="px-2 py-4 whitespace-nowrap" th:text="${employee.getPhone()}"></td>
                                                <td class="px-2 py-4 whitespace-nowrap"></td>
                                            </th:block>
                                        </tr>
                                    </th:block>
                                    <th:block th:if="${team.getLeader() == null}">
                                        <th:block th:if="${team.getMemberList().size() != 0}">
                                            <tr class="bg-white border-b"
                                                th:each="employee, status : ${team.getMemberList()}">
                                                <th:block th:if="${status.index == 0}">
                                                    <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap">
                                                        <h3 th:text="${team.getTeamName()}"></h3>
                                                    </th>
                                                    <td class="px-2 py-4 whitespace-nowrap" th:text="${employee.getName()}"></td>
                                                    <td class="px-2 py-4 whitespace-nowrap" th:text="${employee.getRole().viewName}"></td>
                                                    <td class="px-2 py-4 whitespace-nowrap" th:text="${employee.getPhone()}"></td>
                                                    <td class="px-2 py-4 whitespace-nowrap">
                                                        <a th:href="@{/manager/team/update/{id}(id=${team.getId()})}" class="button w-full">팀 수정</a>
                                                    </td>
                                                </th:block>
                                                <th:block th:if="${status.index != 0}">
                                                    <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap">
                                                        <h3>"</h3>
                                                    </th>
                                                    <td class="px-2 py-4 whitespace-nowrap" th:text="${employee.getName()}"></td>
                                                    <td class="px-2 py-4 whitespace-nowrap" th:text="${employee.getRole().viewName}"></td>
                                                    <td class="px-2 py-4 whitespace-nowrap" th:text="${employee.getPhone()}"></td>
                                                    <td class="px-2 py-4 whitespace-nowrap"></td>
                                                </th:block>
                                            </tr>
                                        </th:block>
                                        <th:block th:if="${team.getMemberList().size() == 0}">
                                            <tr class="bg-white border-b">
                                                <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap">
                                                    <h3 th:text="${team.getTeamName()}"></h3>
                                                </th>
                                                <td class="px-2 py-4 whitespace-nowrap">-</td>
                                                <td class="px-2 py-4 whitespace-nowrap">-</td>
                                                <td class="px-2 py-4 whitespace-nowrap">-</td>
                                                <td class="px-2 py-4 whitespace-nowrap">
                                                    <a th:href="@{/manager/team/update/{id}(id=${team.getId()})}" class="button w-full">팀 수정</a>
                                                </td>
                                            </tr>
                                        </th:block>
                                    </th:block>
                                </th:block>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <!-- form footer -->
                    <div class="grid grid-cols-2 gap-4 p-8">
                        <a th:href="|javascript:window.history.back();|" class="button w-full">뒤로가기</a>
                        <a th:href="@{/manager/division/update/{id}(id=${division.getId()})}" class="button w-full">지점 수정하기</a>
                    </div>

                </div>
            </form>
        </div>
        <script>
            jQuery(document).ready(function($){

                $('.live-search-list li').each(function(){
                    $(this).attr('data-search-term', $(this).contents().find( "h3" ).text().toLowerCase());
                });

                $('.live-search-box').on('keyup', function(){

                    var searchTerm = $(this).val().toLowerCase();

                    $('.live-search-list li').each(function(){

                        if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }

                    });

                });

            });
        </script>
    </main>

</body>

</html>