<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

    <main layout:fragment="main">
        <div class="lg:space-x-12">
            <form id="createTeamForm" onsubmit="return false;">
                <div class="max-w-2xl m-auto shadow-md rounded-md bg-white lg:mt-20">

                    <!-- form header -->
                    <div class="text-center border-b border-gray-100 py-6">
                        <h3 class="font-bold text-xl"> 지점 수정 </h3>
                    </div>

                    <!-- form body -->
                    <div class="p-10 space-y-7">

                        <div>
                            <label for="teamName" class="font-semibold text-base"> 지점명 </label>
                            <input id="teamName" class="with-border" th:value="${division.getDivisionName()}" name="teamName" type="text" onkeyup="this.setAttribute('value', this.value);" value="" autocomplete="off">
                        </div>

                        <div>
                            <label for="teamGM" class="font-semibold text-base"> 지점장 선택 </label>
                            <select id="teamGM" name="teamGM"  class="shadow-none selectpicker with-border">
                                <option th:each="gm : ${gmList}"
                                        th:value="${gm.getUsername()}"
                                        th:if="${gm.getDivision() == null || gm.getUsername() eq division.getLeader().getUsername()}"
                                        th:selected="${gm.getUsername() eq division.getLeader().getUsername()}"
                                        th:text="|${gm.getName()}(${gm.getPhone()})|">이름</option>
                            </select>
                        </div>

                    </div>

                    <!-- form footer -->
                    <div class="grid grid-cols-2 gap-4 m-4 p-4">
                        <a th:href="|javascript:window.history.back();|" class="button w-full">뒤로가기</a>
                        <button id="submit" type="button" class="button w-full">수정하기</button>
                    </div>
                </div>
            </form>
        </div>
        <script>
            jQuery(document).ready(function($){

                $('.live-search-list li').each(function(){
                    $(this).attr('data-search-term', $(this).contents().find( "h3" ).text().toLowerCase());
                });

                $('.live-search-box').on('keyup', function(){

                    var searchTerm = $(this).val().toLowerCase();

                    $('.live-search-list li').each(function(){

                        if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
                            $(this).show();
                        } else {
                            $(this).hide();
                        }

                    });

                });

            });

            /*<![CDATA[*/
            let id = "[[${division.getId()}]]";
            /*]]>*/

            $("#submit").on("click", function (){
                if ($('#teamName').val().length !== 0) {
                    const url = '/manager/division/'.concat(id);
                    fnResponseCrudJsonAjax($('#createTeamForm').serializeObject(), url, 'PUT', successHref);
                } else {
                    Swal.fire({
                        icon: 'error',
                        text: '팀 이름을 입력해주세요.',
                    });
                }
            });

            function successHref(data) {
                $(location).attr("href", "/manager/division/".concat(id));
            }
        </script>
    </main>

</body>

</html>