<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<body>

<main layout:fragment="main">
    <style>
        textarea {
            resize: none;
        }
        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none !important;
            margin: 0 !important;
        }

        /* Firefox  */
        input[type='number'] {
            -moz-appearance: textfield !important;
        }
    </style>
    <div class="card p-4">
        <div class="text-black">
            <span class="text-xl" th:text="|${viewName} 매출|"></span>
            <span class="text-sm" th:text="|(${#temporals.format(currentDate, 'yyyy년 MM월 dd일')})|"></span>
        </div>
        <th:block th:if="${flag}">
            <hr class="my-4">
            <div class="text-sm">
                정산을 완료한 팀입니다.
            </div>
        </th:block>
    </div>

    <hr class="my-4">

    <form id="createAdjustmentForm">
        <div class="card p-4 text-black">
            <h3 class="text-lg font-medium">팀원 관련</h3>
            <div class="mt-2">
                <div class="overflow-x-auto rounded-lg">
                    <table class="w-full text-sm text-left text-gray-500 live-search-table">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                                구분
                            </th>
                            <th scope="col" colspan="999" class="px-2 py-3 uk-text-center whitespace-nowrap">
                                입력
                            </th>
                        </tr>
                        </thead>
                        <tbody class="uk-text-center">
                        <th:block th:if="${adjStat != null}">
                            <tr class="bg-white border-b">
                                <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap">
                                    <a>저조자</a>
                                </th>
                                <td class="px-2 py-4 whitespace-nowrap">
                                    <input type="text" th:value="${adjStat.getLowFormAdj()}" readonly disabled placeholder="없음" name="lowFormAdj">
                                </td>
                            </tr>
                            <tr class="bg-white border-b">
                                <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap">
                                    <a>휴무자</a>
                                </th>
                                <td class="px-2 py-4 whitespace-nowrap">
                                    <input type="text" th:value="${adjStat.getDayOffAdj()}" readonly disabled placeholder="없음" name="dayOffAdj">
                                </td>
                            </tr>
                        </th:block>
                        <th:block th:if="${adjStat == null}">
                            <tr class="bg-white border-b">
                                <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap">
                                    <a>저조자</a>
                                </th>
                                <td class="px-2 py-4 whitespace-nowrap">
                                    <input type="text" placeholder="이름을 입력해주세요." name="lowFormAdj">
                                </td>
                            </tr>
                            <tr class="bg-white border-b">
                                <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap">
                                    <a>휴무자</a>
                                </th>
                                <td class="px-2 py-4 whitespace-nowrap">
                                    <input type="text" placeholder="이름을 입력해주세요." name="dayOffAdj">
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <hr class="my-4">

        <div class="card p-4 text-black">
            <h3 class="text-lg font-medium">팀 정산</h3>
            <div class="mt-2">
                <th:block th:if="${adjStat != null}">
                    <input type="date" name="adjDate" class="hidden" th:value="${#temporals.format(currentDate, 'yyyy-MM-dd')}">
                    <input type="text" name="teamNo" hidden th:value="${teamId}">
                    <div class="overflow-x-auto rounded-lg">
                        <table class="w-full text-sm text-left text-gray-500 live-search-table">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                            <tr>
                                <th scope="col" class="px-2 py-3 uk-text-center whitespace-nowrap">
                                    구분
                                </th>
                                <th scope="col" colspan="999" class="px-2 py-3 uk-text-center whitespace-nowrap">
                                    금액(원)
                                </th>
                            </tr>
                            </thead>
                            <tbody class="uk-text-center">
                            <tr class="bg-white border-b">
                                <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap">
                                    <a>현금 매출</a>
                                </th>
                                <td class="px-2 py-4 whitespace-nowrap">
                                    <input type="text" th:value="${#numbers.formatDecimal(adjStat.getCashAdj(), 3, 'COMMA', 0, 'POINT')}" disabled name="cashAdj">
                                </td>
                            </tr>
                            <tr class="bg-white border-b">
                                <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap">
                                    <a>카드 매출</a>
                                </th>
                                <td class="px-2 py-4 whitespace-nowrap">
                                    <input type="text" th:value="${#numbers.formatDecimal(adjStat.getCardAdj(), 3, 'COMMA', 0, 'POINT')}" disabled name="cardAdj">
                                </td>
                            </tr>
                            <tr class="bg-white border-b">
                                <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap">
                                    <a>이체 매출</a>
                                </th>
                                <td class="px-2 py-4 whitespace-nowrap">
                                    <input type="text" th:value="${#numbers.formatDecimal(adjStat.getAccountAdj(), 3, 'COMMA', 0, 'POINT')}" disabled name="accountAdj">
                                </td>
                            </tr>
                            <tr class="bg-white border-b">
                                <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap">
                                    <a>팀 평균</a>
                                </th>
                                <td class="px-2 py-4 whitespace-nowrap">
                                    <input type="text" th:value="${#numbers.formatDecimal(adjStat.getTeamAvg(), 3, 'COMMA', 0, 'POINT')}" disabled name="teamAvg">
                                </td>
                            </tr>
                            <tr class="bg-white border-b">
                                <th scope="row" class="px-2 py-4 font-medium whitespace-nowrap">
                                    <a>전체 매출</a>
                                </th>
                                <td class="px-2 py-4 whitespace-nowrap">
                                    <input type="text" th:value="${#numbers.formatDecimal(adjStat.getTotalAdj(), 3, 'COMMA', 0, 'POINT')}" disabled name="totalAdj">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <p class="my-2">정산 내용</p>
                        <textarea class="bg-gray-100 p-4 h-72" disabled name="contentAdj" placeholder="메모" th:text="${adjStat.getContentAdj()}"></textarea>
                    </div>
                </th:block>
                <th:block th:if="${adjStat == null}">
                    정산 내역이 없습니다.
                </th:block>
            </div>
        </div>
    </form>

    <script>

        $("#update").on("click", function (){
            fnResponseDataAjax($('#createAdjustmentForm').serializeObject(), 'manager/adj/team/update', 'PUT', successHref);
        });

        function successHref(data, xhr) {
            // let savedId = data.response.id;

            let fnCallBck = function (data) {
                $(location).attr("href", "/manager/adj/team/".concat(data.id));
            }
            fnCallBck();
        }
    </script>
</main>

</body>

</html>